<configuration>
  <connectionStrings>
    <add name ="conn1" connectionString="fsgfagha" providerName="abc"/>
    <add name ="conntest" connectionString="333" providerName="sqlserver"/>
  </connectionStrings>
  <appSettings>
    <add key="config:name" value="yzk"/>
    <add key="config:age" value="18"/>
    <add key="config:proxy.address" value="safsagsa"/>
    <add key="config:proxy:port" value="33"/>
    <add key="config:proxy:ids:0" value="666"/>
    <add key="config:proxy:ids:1" value="888"/>
  </appSettings>
</configuration>